<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>This site was created by Ashish as Node JS project. It uses data from
            mapbox.com and openweathermap api to render the live weather conditions of supplied
            countries and cities.
        </p>

       
    </div>

    <br>
    {{>footer}}

</body>

</html>